body {
  padding-top: 70px; /* biar gak ketutup navbar */
}

section {
  scroll-margin-top: 80px; /* biar pas klik gak ketelen navbar */
}

/* optional biar home bener-bener center */
#home .row {
  min-height: 80vh;
  display: flex;
  align-items: center;
}